// [project name] color libraries
$library-colors: (
	violet      : #9400D3,
	indigo      : #4B0082,
	blue        : #0000FF,
	green       : #00FF00,
	yellow      : #FFFF00,
	orange      : #FF7F00,
	red         : #FF0000
);
