// [project name] font sizes
$library-font-sizes: (
	tiny: 6px,
	small: 8px,
	regular: 14px,
	medium: 16px,
	large: 18px,
	xlarge: 24px,
);

// [project name] font weights
$library-font-weights: (
	bold: 700,
	'semi-bold': 600,
	light: 300
);
